//- template.pug
doctype html
html
  include includes/head.pug
  script(src='../../script/login.js')
  header.header
    h1.header__h1 Tiny Movie Review
    p.header__p #{name}'s Pug source code!

  div.div
    form.div__form(
      method='post'
      action='/'
    )
      input.div__input(
        type='text'
        name='input'
      )
      button.div__button(
        type='submit'
        class='div__button'
      ) Submit
      